@charset "UTF-8";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

p {
	display:none;
}

.mostrarErroresInputs {
	display:block;
}

.file-select::before {
  background: linear-gradient(45deg, blue, purple);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Añadir foto perfil'; /* testo por defecto */
  position: absolute;
  padding:7px;
  width:153px;
}