@charset "UTF-8";

.elbody::-webkit-scrollbar {
    width: 15px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

.elbody::-webkit-scrollbar-thumb {
    background: #ff8000;
    border-radius: 10px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.elbody::-webkit-scrollbar-thumb:hover {
    background: #c46200;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.elbody::-webkit-scrollbar-thumb:active {
    background-color: #c46200;
}

.elbody::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.elbody::-webkit-scrollbar-track:hover,
.elbody::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.elbody {
	background:linear-gradient(90deg, #cca466, #523c1b);
}

.cuadroservicios {
	overflow-y:scroll;
	overflow-x:hidden;
	height:540px;
	background-color:#4a3711;
}

.cuadroservicios::-webkit-scrollbar {
    width: 10px;     /* Tamaño del scroll en vertical */
    height: 10px;    /* Tamaño del scroll en horizontal */
}

.cuadroservicios::-webkit-scrollbar-thumb {
    background: #b78900;
    border-radius: 10px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.cuadroservicios::-webkit-scrollbar-thumb:hover {
    background: #eaaf00;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.cuadroservicios::-webkit-scrollbar-thumb:active {
    background-color: #eaaf00;
}

.cuadroservicios::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.cuadroservicios::-webkit-scrollbar-track:hover,
.cuadroservicios::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
